@{
    ViewData["Title"] = "Home Page";
    var name = ViewData["CalculateModel"] as FormattedCalculatedModel;
}

<form method="post">
    @if (@name != null)
    {
        <input type="text" name="usage" value="@name.Usage">
    }
    else
    {
        <input type="text" name="usage" value="0">
    }
    <input type="submit">
</form>

@if (@name != null)
{
    <style>
        #customers {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        #customers td, #customers th {
          border: 1px solid #ddd;
          padding: 8px;
        }
        
        #customers tr:nth-child(even){background-color: #f2f2f2;}
        
        #customers tr:hover {background-color: #ddd;}
        
        #customers th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #04AA6D;
          color: white;
        }
    </style>
    <table id="customers">  
    <tr>  
        <th>Từ</th>
        <th>Đến</th>
        <th>Giá</th>
        <th>Sử Dụng</th>
        <th>Phải Trả</th>
    </tr>
    @foreach (var i in @name.Items)
    {
        <tr>
            <td>@i.From</td>
            <td>@i.To</td>
            <td>@i.StandardPrice</td>
            <td>@i.Usage</td>
            <td>@i.Price</td>
        </tr>
    }
    <tr>
        <td colspan="4">Tổng</td>
        <td>@name.Total</td>
    </tr> <tr>
        <td colspan="4">Tổng Cộng + VAT 10%</td>
        <td>@name.TotalVat</td>
    </tr>
    </table>
}
